 .about{
    background:linear-gradient(rgba(7, 143, 203, 0.8), rgba(7, 143, 203, 0.8)), url('../../../public/img/about-bg.jpg');
    width: 100%;
    background-size: cover;
    background-position: center;    
    position: relative;
    text-align: justify;
}
.about1{
  color: black !important;
  width: 100%;
  background-size: cover;
  background-position: center;    
  position: relative;
  text-align: justify;  
}
.about .p{ line-height: 25px; }
  .p-120{ padding: 100px 0px;}
@media (max-width:320px){
 .about  .p-120{ padding: 70px 0px;}
 .about .about-img{
  width: 200px;
 }
 .about p{
  font-size: 16px;
 }

}
