.teacher{
    background:linear-gradient(rgba(71, 171, 35, .8) , rgba(71, 171, 35, .8)), url('../../../public/img/teacher-bg.jpg');
    background-size: cover;
    background-position: center;    
    position:relative;
}
.teacher1{
    background-size: cover;
    background-position: center;    
    position:relative;
}
.teacher .teacher-content .social-media i{
    transition: 0.2s linear;
}
.teacher .teacher-content .social-media i:hover{
    transform: translateY(-4px);
    transition: 0.2s linear;
}
.teacher .teacher-content .view{
    transition: 0.2s linear;
 display:inline-block;
}
.teacher .teacher-img img{
    object-fit: cover;
}
.teacher .teacher-content .view:hover{
    transform: translateY(-4px) !important;
    transition: 0.2s linear;

}

@media (max-width:320px){
 .teacher  .teacher-content .fs-6{
    text-align: start !important;
    font-size: 13px !important;
 }
}